<div data-tap-toggle="false" data-position="fixed" class="ui-title" role="heading" aria-level="1" style="position:fixed;top:auto;bottom:0px;z-index:99999;background-color:#dddddd;width:100%;height:120px;">
    <div data-role="navbar">
        <ul>
            <li>
				<textarea placeholder="Nachricht..." data-id="myMsgBox" id="myMsgBox" class="myMsgBox" name="message" data-role="none"></textarea>
				<a name="sendLink" class="sendLink" data-mini="true" data-enhance="false" data-shadow="false" data-role="none" href="#" data-ajax="true">Senden</a>
			</li>
        </ul>
    </div>
</div>